<% provide(:title, @title) %>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @title %></h2>
      <%= render 'layouts/list_user_index', users: @users %>
    </div>
  </div>
</div>