<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <% if @model == "user" %>
        <h2>Users search for "<%= @value %>"</h2>
        <%= render 'layouts/list_user_search_index', datas: @datas %>
      <% elsif @model == "book" %>
        <h2>Books search for "<%= @value %>"</h2>
        <%= render 'layouts/list_book_search_index', datas: @datas %>
      <% end %>
    </div>
  </div>
</div>