/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

a:hover {
  text-decoration: none;
}

.field {
  margin-bottom: 10px;
}

.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

#alert {
  color: red;
}

#error_explanation {
  color: red;
}

.search_row {
  margin: 0 auto 20px auto;
}

.like-btn-unlike {
  color: deeppink;
}

.like-btn {
  color: gray;
}

.books_index_book_title {
  width: 120px;
}

.favorite {
  width: 80px;
}

.comments_count {
  width: 170px;
}

.new_comment_container {
  width: 100%;
}

.comment_notice {
  color: green;
}

.comment_alert {
  color: red;
}

.go_to_chat {
  margin-bottom: 10px;
}

.chat_left {
  position: relative;
  padding: 20px;
  background-color: #fff3ad;
  display: inline-block;
}

.chat_right {
  position: relative;
  padding: 20px;
  background-color: #87ceeb;
  display: inline-block;
}

.chat_right_td {
  text-align: right;
}

.chat_left::before{
  content: '';
  position: absolute;
  left: -15px;
  top: 20px;
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff3ad;
  border-left: 15px solid transparent;
}

.chat_right::before{
  content: '';
  position: absolute;
  right: -15px;
  top: 20px;
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #87ceeb;
  border-left: 15px solid transparent;
}