<% if current_user.already_favorited?(book) %>
  <%= link_to book_favorites_path(book), method: :delete, remote: true do %>
    <span class="fa fa-heart like-btn-unlike"></span>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book), method: :post, remote: true do %>
    <span class="fa fa-heart like-btn"></span>
  <% end %>
<% end %>
<%= book.favorited_users.count %>
